.selectedPage {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.usersList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}